html, body {
  
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
;
  margin:0px;
  padding:%;
  width:75%;
  height:8%;
  background: url(http://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg)
}

.name {
   
  padding-left:11%;
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size:35px;
}

.container{
   padding-right:100px;
  padding-left: 100px;
  padding-bottom: 100px;
margin-left:50px;
  padding-left:23%;
}

.main{
 
}

.extra {
 
}

.experience {
  min-width:75%;
}

.date{
  float:right;
}

h2{font-size:28px;
}

h3{
  font-size:22px;
}
  
a{ text-decoration: none;
}
a:hover {
    text-decoration: underline;}

a:active {
    text-decoration: underline;
