html, body {
  display:block;
  font-family: sans-serif;
  margin:8px;
  padding:8px;
  width:50%;
  height:50%;
  background: url(http://img.pandawhale.com/post-23421-Unicorn-yqXS.jpeg);
}
.container{
   padding-right:30px;
  display: flex;
}

.extra {
  padding-left:30px;
  min-width:75%;
}

.experience {
  min-width:75%;
}
