html, body {
  font-family: sans-serif;
  margin:40px;
  padding:30px;
  width:50%;
  height:50%;
  background-color: grey;
}
.container{
   padding-right:30px;
  display: flex;
}

.extra {
  padding-left:30px;
  min-width:75%;
}

.experience {
  min-width:75%;
}
